@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
 body {
    font-family: 'Roboto Slab', serif;
 }

 .food-card-icons {
   font-size: 5rem;
 }

 /* .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
   bottom: -10px;

 } */

 .swiper-pagination {
   position: initial;
   bottom: 0;
 }

 .swiper-pagination-bullet ‌{
   width: 1rem;
   height: 1rem;
   border-radius: 0;
}
 
.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #ffa300;
   border-radius: 4px;
   width: 2rem;

 }
